<div class="home">
    <h2 class="title">{{title}}</h2>
    <br>
    <div class="home-container">
        <img src='assets/images/logo.jpg' height="200" width="200">
        <div>
            <p>Hi <span class="username">"{{username}}"</span>,</p>
            <p>Welcome to {{title}}.<br>
            Get all your Medicines delivered to your Door Step...!</p>
            <p>Always forgetting to refill your medicines ?<br>
            Don't worry...! We will remember it for you!!!</p>
        </div>
    </div>
</div>